[Desktop Entry]
Name=PulseEffects
GenericName=Audio Enhancer
GenericName[pt_BR]=Melhorador de Áudio
GenericName[sv]=Ljudförstärkare
Comment=Audio Effects for Pulseaudio Applications
Comment[pt_BR]=Efeitos de Áudio para Aplicativos que usam Pulseaudio
Comment[sv]=Ljudeffekter för PulseAudio applikationer
Keywords=limiter;compressor;reverberation;equalizer;autovolume;
Keywords[pt_BR]=limitador;compressor;reverberação;equalizador;autovolume;
Keywords[sv]=limiter;begränsare;kompressor;eko;efterljud;equalizer;utjämnare;auto;volym;
Categories=GTK;AudioVideo;Audio;
Exec=pulseeffects
Icon=pulseeffects
StartupNotify=true
Terminal=false
Type=Application
