__pycache__
_build
build
locale
gschemas.compiled
obj-*-linux-gnu
.vscode
node_modules
package-lock.json
compile_commands.json
.clangd
.cache

# Compiled python modules.
*.pyc

# binary language files
*.mo

# patches
*.patch

\.python-version

# exclude debian building logs and other junk
debian/*
!debian/changelog
!debian/changelog.tpl
!debian/compat
!debian/control
!debian/copyright
!debian/docs
!debian/pycompat
!debian/rules
!debian/source/format
!debian/build-ppa.sh
!debian/*.install
!debian/*lintian-overrides
!debian/watch
!debian/patches
!debian/patches/*.patch
!debian/source

/build-ppa.sh

# Dolphin file manager creates the file .directory to save some folder-specific settings
*.directory

*-build-deps*.deb

.build-tools.cson

ppastats
.autobuild

# exclude most of flatpak directory
util/flatpak/*
!util/flatpak
!util/flatpak/com.github.wwmm.easyeffects.json
!util/flatpak/patch
!util/flatpak/easyeffects-wrapper.sh
!util/flatpak/shared-modules
# include patch files
!util/flatpak/patch/bs2b/001-fix-automake-dist-lzma.patch
!util/flatpak/patch/easyeffects/001-fix-about-page-icon.patch
!util/flatpak/patch/easyeffects/002-fix-desktop-file.patch
!util/flatpak/patch/easyeffects/003-libportal-autostart.patch
!util/flatpak/patch/zita-convolver/0001-Fix-makefile.patch

