__pycache__
_build
build
locale
gschemas.compiled
obj-*-linux-gnu
.vscode

# Compiled python modules.
*.pyc

# binary language files
*.mo

# patches
*.patch

\.python-version

# exclude debian building logs and other junk
debian/*
!debian/changelog
!debian/changelog.tpl
!debian/compat
!debian/control
!debian/copyright
!debian/docs
!debian/pycompat
!debian/rules
!debian/source/format
!debian/build-ppa.sh
!debian/*.install
!debian/*lintian-overrides
!debian/watch
!debian/patches
!debian/patches/*.patch
!debian/source

/build-ppa.sh

# Dolphin file manager creates the file .directory to save some folder-specific settings
*.directory

*-build-deps*.deb

.build-tools.cson

ppastats
.autobuild
