html {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  direction: ltr;
}

article,
aside,
nav,
header,
footer,
section {
  display: block;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-flow: row;
}

main>* {
  flex: 0 0 220px;
}

main>div.page {
  flex-grow: 1;
  margin: 0;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 100vh;
}

div.page>article {
  flex: 1 0 auto;
}

div.page>header,
div.page>footer {
  flex: 0 1 auto;
}

.pagewide {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

aside.sidebar {
  width: 300px;
  padding: 20px 10px;
  background: rgb(244, 244, 244)
}

@media only screen and (max-width: 720px) {
  aside.sidebar {
    display: none;
  }
}

aside.sidebar-right {
  order: 3;
}

aside.sidebar section {
  margin-top: 0;
}

aside.sidebar * {
  margin-bottom: 20px;
}

aside.sidebar section>div.inner>div.hgroup {
  border-bottom: none;
}

aside.sidebar section h2 {
  font-size: 1em;
  margin-bottom: 0;
}

article {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 20em;
  background-color: #ffffff;
}

section {
  margin-top: 2.4em;
  clear: both;
}

section section {
  margin-top: 1.44em;
}

.yelp-hash-highlight {
  animation-name: yelp-hash-highlight;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes yelp-hash-highlight {
  from {
    transform: translateY(0px)
  }

  25% {
    transform: translateY(20px);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(10px);
  }

  to {
    transform: translateY(0px);
  }
}

div.trails {
  margin: 0 -10px 0 -10px;
  padding: 0.2em 10px;
  background-color: rgb(244, 244, 244);
}

div.trail {
  margin: 0.2em 0;
  padding: 0 1em 0 1em;
  text-indent: -1em;
  color: rgb(75, 75, 73);
}

a.trail {
  white-space: nowrap;
}

div.hgroup {
  margin-bottom: 0.5em;
  color: rgb(75, 75, 73);
}

section>div.inner>div.hgroup {
  margin-top: 0;
  border-bottom: solid 1px #c0bfbc;
}

section.links>div.inner>div.hgroup {
  border-bottom: solid 2px rgb(43, 107, 185);
}

section section.links>div.inner>div.hgroup {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.72em;
}

h3.title,
h4.title,
h5.title,
h6.title,
h7.title {
  font-size: 1.44em;
}

h3,
h4,
h5,
h6,
h7 {
  font-size: 1em;
}

p {
  line-height: 1.44em;
}

div,
pre,
p {
  margin: 0;
  padding: 0;
}

div.contents>*+*,
th>*+*,
td>*+*,
dt>*+*,
dd>*+*,
li>*+* {
  margin-top: 1em;
}

p img {
  vertical-align: middle;
}

p.lead {
  font-size: 1.2em;
}

div.clear {
  margin: 0;
  padding: 0;
  height: 0;
  line-height: 0;
  clear: both;
}

.center {
  text-align: center;
}

footer {
  background: #ddd;
}

footer div.about {
  max-width: 700px;
  margin: 0 auto;
}

footer div.about>div.inner>div.hgroup {
  margin: 0;
  padding: 0;
  text-align: center;
  border: none;
}

footer div.about>div.inner>div.hgroup>h2 {
  margin: 0;
  padding: 0.2em;
  font-size: inherit;
}

footer div.about.ui-expander>div.inner>div.hgroup span.title:before {
  content: "";
}

div.copyrights {
  text-align: center;
}

div.copyright {
  margin: 0;
}

div.credits {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
  margin: 0 -10px;
}

div.credits>* {
  vertical-align: top;
  text-align: left;
  flex: 1 0 300px;
  padding: 10px;
}

div.credits>*:empty {
  padding: 0;
  height: 0;
}

ul.credits,
ul.credits li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.credits li {
  margin-left: 1em;
  text-indent: -1em;
}

div.license {
  padding-bottom: 10px;
}

table {
  border-collapse: collapse;
  border-color: #c0bfbc;
  border-width: 1px;
}

td,
th {
  padding: 0.5em;
  vertical-align: top;
  border-color: #c0bfbc;
  border-width: 1px;
}

thead td,
thead th,
tfoot td,
tfoot th {
  font-weight: bold;
  color: rgb(75, 75, 73);
  background-color: rgb(234, 234, 233);
}

th {
  text-align: left;
  font-weight: bold;
  color: rgb(75, 75, 73);
}

ul,
ol,
dl {
  margin: 0;
  padding: 0;
}

li {
  margin: 1em 0 0 0;
  margin-left: 2.4em;
  padding: 0;
}

li:first-child {
  margin-top: 0;
}

@media (max-width: 480px) {
  li {
    margin-left: 1.44em;
  }
}

dt {
  margin-top: 1em;
}

dt:first-child {
  margin-top: 0;
}

dt+dt {
  margin-top: 0;
}

dd {
  margin: 0.2em 0 0 0;
  margin-left: 1.44em;
}

dd+dd {
  margin-top: 1em;
}

ol.compact li {
  margin-top: 0.2em;
}

ul.compact li {
  margin-top: 0.2em;
}

ol.compact li:first-child {
  margin-top: 0;
}

ul.compact li:first-child {
  margin-top: 0;
}

dl.compact dt {
  margin-top: 0.2em;
}

dl.compact dt:first-child {
  margin-top: 0;
}

dl.compact dt+dt {
  margin-top: 0;
}

div.tiles {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: stretch;
  vertical-align: top;
  clear: both;
  margin: 0 -10px;
}

div.tiles>* {
  vertical-align: top;
  margin: 0;
  padding: 10px;
  max-width: none;
}

div.tiles>*:empty {
  padding: 0 10px;
  height: 0;
}

div.tile4 {
  flex: 1 0 250px;
}

div.tile3 {
  flex: 1 0 340px;
}

div.tile2 {
  flex: 1 0 520px;
}

div.tile1 {
  flex: 1 0 1060px;
}

a {
  text-decoration: none;
  color: rgb(43, 107, 185);
}

a:visited {
  color: rgb(147, 64, 167);
}

a:hover {
  border-bottom: dotted 1px rgb(43, 107, 185);
}

p a {
  border-bottom: dotted 1px rgb(43, 107, 185);
}

a img {
  border: none;
}

.yelp-svg-fill {
  fill: rgb(75, 75, 73);
}

.yelp-svg-stroke {
  stroke: rgb(75, 75, 73);
}

div.title {
  margin: 0 0 0.2em 0;
  font-weight: bold;
  color: rgb(75, 75, 73);
}

div.title h1,
div.title h2,
div.title h3,
div.title h4,
div.title h5,
div.title h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

div.desc {
  margin: 0 0 0.2em 0;
}

div.contents+div.desc {
  margin: 0.2em 0 0 0;
}

pre.contents {
  padding: 0.5em 1em 0.5em 1em;
}

div.links-center {
  text-align: center;
}

div.links .desc {
  color: rgb(102, 102, 100);
}

div.links>div.inner>div.region>div.desc {
  font-style: italic;
}

div.links ul {
  margin: 0;
  padding: 0;
}

div.links ul ul {
  margin-left: 1em;
}

li.links {
  margin: 0.5em 0 0.5em 0;
  padding: 0;
  list-style-type: none;
}

li.links-head {
  margin-top: 1em;
  color: rgb(102, 102, 100);
  border-bottom: solid 1px #c0bfbc;
}

div.sectionlinks {
  display: inline-block;
  padding: 0 1em 0 1em;
  background-color: rgb(241, 246, 253);
  border: solid 1px rgb(43, 107, 185);
}

div.sectionlinks ul {
  margin: 0;
}

div.sectionlinks li {
  padding: 0;
}

div.sectionlinks div.title {
  margin: 0.5em 0 0.5em 0;
}

div.sectionlinks div.sectionlinks {
  display: block;
  margin: 0.5em 0 0 0;
  padding: 0;
  border: none;
}

div.sectionlinks div.sectionlinks li {
  padding-left: 1.44em;
}

nav.prevnext {
  clear: both;
}

div.region>nav.prevnext,
div.region+nav.prevnext {
  margin-top: 1em;
}

nav.prevnext>div.inner {
  float: right;
}

nav.prevnext>div.inner>* {
  background-color: rgb(244, 244, 244);
  display: inline-block;
  position: relative;
  height: 1.44em;
  padding: 0.2em 0.83em 0 0.83em;
  margin-bottom: 1em;
  border: solid 1px #c0bfbc;
}

nav.prevnext>div.inner>span {
  visibility: hidden;
}

nav.prevnext>div.inner>a+a {
  border-left: none;
}

nav.prevnext>div.inner>a:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

nav.prevnext>div.inner>a:last-of-type {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

div.serieslinks {
  display: inline-block;
  padding: 0 1em 0 1em;
  background-color: rgb(241, 246, 253);
  border: solid 1px rgb(43, 107, 185);
}

div.serieslinks ul {
  margin: 0;
}

div.serieslinks li {
  padding: 0;
}

div.serieslinks div.title {
  margin: 0.5em 0 0.5em 0;
}

pre.numbered {
  margin: 0;
  padding: 0.5em;
  float: left;
  margin-right: 0.5em;
  text-align: right;
  color: rgb(102, 102, 100);
  background-color: rgb(253, 251, 233);
}

div.code {
  border: solid 1px #c0bfbc;
}

div.example {
  border-left: solid 4px #c0bfbc;
  padding-left: 1em;
}

div.example>div.inner>div.region>div.desc {
  font-style: italic;
}

div.figure {
  display: inline-block;
  max-width: 100%;
  margin-left: 1.72em;
}

div.figure>div.inner {
  padding: 4px;
  color: rgb(75, 75, 73);
  border: solid 1px #c0bfbc;
  background-color: rgb(244, 244, 244);
}

@media (max-width: 960px) {
  div.figure {
    margin-left: 0;
  }
}

a.figure-zoom {
  float: right;
}

a.figure-zoom:hover {
  border-bottom: none;
}

a.figure-zoom:hover .yelp-svg-fill {
  fill: #3584e4;
}

a.figure-zoom:hover .yelp-svg-stroke {
  stroke: #3584e4;
}

a.figure-zoom .figure-zoom-out {
  display: none;
}

a.figure-zoom.figure-zoomed .figure-zoom-in {
  display: none;
}

a.figure-zoom.figure-zoomed .figure-zoom-out {
  display: inline-block;
}

div.figure>div.inner>div.region>div.contents {
  margin: 0;
  padding: 0.5em 1em 0.5em 1em;
  clear: both;
  text-align: center;
  color: #000000;
  border: solid 1px #c0bfbc;
  background-color: #ffffff;
}

div.list>div.inner>div.title {
  margin-bottom: 0.5em;
}

div.listing>div.inner {
  margin: 0;
  padding: 0;
}

div.listing>div.inner>div.region>div.desc {
  font-style: italic;
}

div.note {
  padding: 10px 0;
  border: solid 1px rgb(234, 234, 233);
  background-color: rgb(244, 244, 244);
  display: flex;
  flex-flow: row;
}

div.note>* {
  margin: 0 10px;
  padding: 0;
  min-height: 24px;
  min-width: 24px;
}

div.note-warning>svg .yelp-svg-fill {
  fill: #c01c28;
}

div.note-danger {
  border-color: #c01c28;
}

div.note-important>svg .yelp-svg-fill {
  fill: #3584e4;
}

div.note-danger>svg .yelp-svg-fill {
  fill: #c01c28;
  animation-name: yelp-note-danger;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes yelp-note-danger {
  from {
    fill: #c01c28
  }

  50% {
    fill: #c0bfbc
  }

  to {
    fill: #c01c28
  }
}

div.note-sidebar {
  float: right;
  max-width: 248px;
  margin-left: 20px;
}

div.quote {
  padding: 0;
  min-height: 48px;
}

div.quote>div.inner>div.title {
  margin: 0;
  margin-left: 48px;
}

blockquote {
  margin: 0;
  padding: 0;
  margin-left: 48px;
}

blockquote>*:first-child {
  margin-top: 0;
}

div.quote>div.inner>div.region>div.cite {
  margin-top: 0.5em;
  margin-left: 48px;
  color: rgb(102, 102, 100);
}

div.quote>div.inner>div.region>div.cite::before {

  content: '― ';
  color: rgb(102, 102, 100);
}

div.screen {
  background-color: rgb(244, 244, 244);
  border: solid 1px #c0bfbc;
}

ol.steps,
ul.steps {
  padding: 0.5em 1em 0.5em 1em;
  border: solid 1px rgb(244, 244, 244);
  border-left: solid 4px #f8e45c;
}

ol.steps .steps {
  padding: 0;
  border: none;
  background-color: unset;
}

li.steps {
  margin-left: 1.44em;
}

li.steps li.steps {
  margin-left: 2.4em;
}

div.synopsis>div.inner>div.region>div.contents,
div.synopsis>div.contents,
div.synopsis>pre.contents {
  padding: 0.5em 1em 0.5em 1em;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: rgb(43, 107, 185);
  background-color: rgb(244, 244, 244);
}

div.synopsis>div.inner>div.region>div.desc {
  font-style: italic;
}

div.synopsis div.code {
  background: unset;
  border: none;
  padding: 0;
}

div.synopsis div.code>pre.contents {
  margin: 0;
  padding: 0;
}

div.unknown>div.inner>div.region>div.desc {
  font-style: italic;
}

div.table>div.desc {
  font-style: italic;
}

tr.shade {
  background-color: rgb(244, 244, 244);
}

td.shade {
  background-color: rgb(244, 244, 244);
}

tr.shade td.shade {
  background-color: rgb(234, 234, 233);
}

span.app {
  font-style: italic;
}

span.cmd {
  font-family: monospace, monospace;
  font-size: 0.83em;
  background-color: rgb(244, 244, 244);
  padding: 0 0.2em 0 0.2em;
}

span.cmd span.cmd {
  background-color: unset;
  padding: 0;
}

pre span.cmd {
  background-color: unset;
  padding: 0;
}

span.code {
  font-family: monospace, monospace;
  font-size: 0.83em;
  border-bottom: solid 1px rgb(234, 234, 233);
}

span.code span.code {
  border: none;
}

pre span.code {
  border: none;
}

span.em {
  font-style: italic;
}

span.em-bold {
  font-style: normal;
  font-weight: bold;
  color: rgb(75, 75, 73);
}

a span.em-bold {
  color: rgb(43, 107, 185);
}

pre span.error {
  color: rgb(173, 25, 36);
}

span.file {
  font-family: monospace, monospace;
  font-size: 0.83em;
}

span.gui,
span.guiseq {
  color: rgb(75, 75, 73);
}

a span.gui,
a span.guiseq {
  color: rgb(43, 107, 185);
}

span.input {
  font-family: monospace, monospace;
  font-size: 0.83em;
}

pre span.input {
  font-weight: bold;
  color: rgb(75, 75, 73);
}

kbd {
  font-family: inherit;
  font-size: inherit;
  color: rgb(75, 75, 73);
  background-color: rgb(244, 244, 244);
  border: solid 1px #c0bfbc;
  border-radius: 2px;
  margin: 0 0.2em 0 0.2em;
  padding: 0.2em 0.5em 0 0.5em;
  white-space: nowrap;
}

kbd.key-Fn {
  font-weight: bold;
  color: rgb(43, 107, 185);
}

span.key a {
  border-bottom: none;
}

a kbd {
  color: rgb(43, 107, 185);
  border-color: rgb(43, 107, 185);
}

span.keyseq {
  color: rgb(75, 75, 73);
  white-space: nowrap
}

a span.keyseq {
  color: rgb(43, 107, 185);
}

span.output {
  font-family: monospace, monospace;
  font-size: 0.83em;
}

pre span.output {
  color: #000000;
}

pre span.prompt {
  color: rgb(75, 75, 73);
}

span.sys {
  font-family: monospace, monospace;
  font-size: 0.83em;
}

span.var {
  font-style: italic;
}

.ui-tile-img .media-controls {
  display: none;
}

span.media-audio,
span.media-video {
  display: inline-block;
}

audio,
video {
  display: block;
  margin: 0;
}

div.media>div.inner {
  display: inline-block;
  text-align: center;
}

.media-controls {
  height: 30px;
  margin: 0;
  padding: 0;
  border-left: solid 1px #000000;
  border-right: solid 1px #000000;
  border-bottom: solid 1px #000000;
  background-color: rgb(75, 75, 73);
  color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  align-items: center;
}

.media-controls>* {
  flex: 0 1 auto;
}

.media-controls>input.media-range {
  flex: 1 0 auto;
  background-color: rgb(75, 75, 73);
  margin: 0 10px;
  -webkit-appearance: none;
}

input.media-range::-webkit-slider-runnable-track {
  height: 4px;
  background: rgb(102, 102, 100);
  border-radius: 2px;
}

input.media-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: rgb(234, 234, 233);
  border: solid 1px rgb(75, 75, 73);
  margin-top: -6px;
}

input.media-range::-webkit-slider-thumb:hover,
input.media-range::-webkit-slider-thumb:focus {
  background: rgb(244, 244, 244);
}

input.media-range::-moz-range-track {
  height: 4px;
  background: rgb(102, 102, 100);
  border-radius: 2px;
}

input.media-range::-moz-range-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  background: rgb(234, 234, 233);
  border: solid 1px rgb(75, 75, 73);
  margin-top: -6px;
}

.media-controls-audio {
  border-top: solid 1px #000000;
  border-radius: 4px;
}

button.media-play {
  height: 30px;
  padding: 0 6px 0 6px;
  line-height: 0;
  background-color: rgb(75, 75, 73);
  border: none;
  border-right: solid 1px #000000;
}

button.media-play:hover,
button.media-play:focus {
  background-color: rgb(43, 107, 185);
}

button.media-play .yelp-svg-fill {
  fill: rgb(244, 244, 244);
}

button.media-play .media-pause {
  display: none;
}

button.media-play-playing .media-play {
  display: none;
}

button.media-play-playing .media-pause {
  display: inline;
}

.media-time {
  margin: 0;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
}

.media-time>span {
  padding-right: 8px;
}

.media-duration {
  font-size: 12px;
  color: rgb(234, 234, 233);
  opacity: 0.8;
}

.media-controls-ttml {
  min-width: 630px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

div.media-ttml {
  margin: 0;
  padding: 6px 0;
  background-color: rgb(244, 244, 244);
  border: solid 1px #000000;
  min-height: 24px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.media-ttml-pre {
  white-space: pre;
}

.media-ttml-nopre {
  white-space: normal;
}

div.media-ttml-div {
  text-align: left;
  display: none;
  margin: 0;
  padding: 0;
}

div.media-ttml-p {
  text-align: left;
  display: none;
  margin: 0 auto;
  max-width: 560px;
  line-height: 1.44em;
}

div.media-ttml-div>*+* {
  margin-top: 1em;
}

div.yelp-data {
  display: none;
}

.ui-expander>div.inner>div.title span.title,
.ui-expander>div.inner>div.hgroup span.title {
  cursor: default;
}

.ui-expander>div.inner>div.title span.title:before,
.ui-expander>div.inner>div.hgroup span.title:before {
  font-weight: bold;
  content: "⌃";
  display: inline-block;
  margin: 0;
  color: rgb(43, 107, 185);
  transform: translateY(0.2em) rotate(0deg);
  -webkit-transform: translateY(0.2em) rotate(0deg);
  transition: transform 0.2s linear;
  transform-origin: 50% 30%;
  -webkit-transform-origin: 50% 30%;
  -webkit-transition: -webkit-transform 0.2s linear;
  margin: 0 0.2em;
}

.ui-expander-c>div.inner>div.hgroup {
  border-bottom: none;
}

.ui-expander>div.inner>div.title:hover,
.ui-expander>div.inner>div.hgroup:hover * {
  color: rgb(43, 107, 185);
}

.ui-expander>div.inner>div.hgroup>.subtitle {
  margin-left: 2em;
}

.ui-expander-c>div.inner>div.region {
  display: none;
}

.ui-expander-e>div.inner>div.region {
  animation-name: yelp-ui-expander-e;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  transform-origin: 0 0;
}

@keyframes yelp-ui-expander-e {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}

div.ui-expander-preview>div.inner>div.region {
  transform-origin: 0 0;
  transition: transform 0.2s linear, background-color 0.2s linear;
  animation-name: none;
}

div.ui-expander-preview.ui-expander-c>div.inner {
  max-height: 100px;
  overflow: hidden;
}

div.ui-expander-preview.ui-expander-c>div.inner>div.region {
  display: block;
  transform: scaleY(0.4);
  background-color: rgb(244, 244, 244);
}

div.ui-expander-preview.ui-expander-c>div.inner>div.region:hover {
  background-color: rgb(241, 246, 253);
  cursor: zoom-in;
}

div.ui-expander-preview.ui-expander-c>div.inner>div.region:hover * {
  cursor: zoom-in;
}

div.ui-expander-preview>div.inner>div.region>* {
  transform-origin: 0 0;
  transition: transform 0.2s linear;
}

div.ui-expander-preview.ui-expander-c>div.inner>div.region>* {
  transform: scaleX(0.4);
}

section.ui-expander-preview>div.inner>div.region>div.contents {
  transform-origin: 0 0;
  transition: transform 0.2s linear, background-color 0.2s linear;
}

section.ui-expander-preview.ui-expander-c>div.inner {
  max-height: 140px;
  overflow: hidden;
}

section.ui-expander-preview.ui-expander-c>div.inner>div.region {
  display: block;
}

section.ui-expander-preview.ui-expander-c>div.inner>div.region>div.contents {
  transform: scaleY(0.6);
  background-color: rgb(244, 244, 244);
}

section.ui-expander-preview>div.inner>div.region>div.contents>* {
  transform-origin: 0 0;
  transition: transform 0.2s linear;
}

section.ui-expander-preview.ui-expander-c>div.inner>div.region>div.contents>* {
  transform: scaleX(0.6);
}

section.ui-expander-preview.ui-expander-c>div.inner>div.region>div.contents:hover {
  background-color: rgb(241, 246, 253);
  cursor: zoom-in;
}

@media only screen and (max-width: 480px) {

  article>div.region>div.contents>div.example,
  article>div.region>section>div.inner>div.region>div.contents>div.example {
    margin-left: -10px;
    margin-right: -10px;
  }

  div.example {
    padding-left: 6px;
    padding-right: 10px;
  }

  article>div.region>div.contents>div.note,
  article>div.region>section>div.inner>div.region>div.contents>div.note {
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  article>div.region>div.contents>div.note,
  article>div.region>section>div.inner>div.region>div.contents>div.note {
    border-left: none;
    border-right: none;
  }

  article>div.region>div.contents>div.steps,
  article>div.region>section>div.inner>div.region>div.contents>div.steps {
    margin-left: -10px;
    margin-right: -10px;
  }

  div.steps>div.inner>div.title {
    margin-left: 10px;
    margin-right: 10px;
  }

  ol.steps,
  ul.steps {
    padding: 0;
    padding-left: 6px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 540px) {
  div.note-sidebar {
    float: none;
    max-width: none;
    margin-left: inherit;
    margin-right: inherit;
    padding-left: inherit;
    padding-right: inherit;
  }
}

div.quote>div.inner:before {
  float: leftcontent: '“';
  font-family: "Century Schoolbook L";

  font-size: {
      {
      $icons.size.quote
    }
  }

  px;
  font-weight: bold;
  line-height: 1em;
  margin: 0;
  padding: 0;

  height: {
      {
      $icons.size.quote
    }
  }

  px;

  width: {
      {
      $icons.size.quote
    }
  }

  px;
  text-align: center;

  color: {
      {
      $color.bg.dark
    }
  }

  ;
}

.ui-expander-e>div.inner>div.title span.title:before,
.ui-expander-e>div.inner>div.hgroup span.title:before {
  transform: translateY(0.2em) rotate(180deg);
}

.hljs a {
  color: inherit;
  border-bottom: dotted 1px rgb(43, 107, 185);
}

.hljs a:hover,
.hljs a:hover * {
  color: rgb(43, 107, 185);
}

.hljs-addition {
  color: rgb(46, 121, 73);
  background-color: rgb(227, 250, 236);
}

.hljs-deletion {
  color: rgb(173, 25, 36);
  background-color: rgb(251, 243, 244);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-attr {
  color: rgb(43, 107, 185);
}

.hljs-attribute {
  color: rgb(107, 99, 41);
}

.hljs-built_in {
  color: rgb(150, 96, 43);
}

.hljs-bullet {
  color: rgb(46, 121, 73);
}

.hljs-class {}

.hljs-code {
  color: rgb(75, 75, 73);
}

.hljs-comment {
  color: rgb(102, 102, 100);
}

.hljs-doctag {}

.hljs-formula {
  color: rgb(75, 75, 73);
}

.hljs-function {}

.hljs-keyword {
  color: rgb(147, 64, 167);
}

.hljs-link {
  color: rgb(150, 96, 43);
}

.hljs-literal {
  color: rgb(150, 96, 43);
}

.hljs-meta {
  color: rgb(150, 96, 43);
}

.hljs-name {
  color: rgb(173, 25, 36);
}

.hljs-number {
  color: rgb(150, 96, 43);
}

.hljs-params {
  color: rgb(150, 96, 43);
}

.hljs-quote {
  color: rgb(102, 102, 100);
}

.hljs-regexp {
  color: rgb(173, 25, 36);
}

.hljs-rest_arg {}

.hljs-section {
  color: rgb(43, 107, 185);
}

.hljs-string {
  color: rgb(46, 121, 73);
}

.hljs-subst {}

.hljs-symbol {
  color: rgb(46, 121, 73);
}

.hljs-tag {
  color: rgb(173, 25, 36);
}

.hljs-title {
  color: rgb(43, 107, 185);
}

.hljs-type {}

.hljs-variable {}

.hljs-selector-attr {}

.hljs-selector-class {
  color: rgb(173, 25, 36);
}

.hljs-selector-id {
  color: rgb(173, 25, 36);
}

.hljs-selector-tag {
  color: rgb(147, 64, 167);
}

.hljs-template-tag {}

.hljs-template-variable {}


div.links .desc a {
  color: inherit;
}

div.links .desc a:hover {
  color: rgb(43, 107, 185);
}

a.bold {
  font-weight: bold;
}


div.link-button {
  font-size: 1.2em;
  font-weight: bold;
}

.link-button a {
  display: inline-block;
  background-color: #3584e4;
  color: #ffffff;
  text-shadow: rgb(43, 107, 185) 1px 1px 0px;
  border: solid 1px rgb(43, 107, 185);
  padding: 0.2em 0.83em 0.2em 0.83em;
  border-radius: 4px;
}

.link-button a:visited {
  color: #ffffff;
}

.link-button a:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: rgb(73, 144, 231);
}

div.link-button a .desc {
  display: block;
  font-weight: normal;
  font-size: 0.83em;
  color: rgb(244, 244, 244);
}


div.floatleft {
  float: left;
  margin-right: 1em;
}

div.floatright {
  float: right;
  margin-left: 1em;
}

div.floatstart {
  float: left;
  margin-right: 1em;
}

div.floatend {
  float: right;
  margin-left: 1em;
}


div.title-heading h1,
div.title-heading h2,
div.title-heading h3,
div.title-heading h4,
div.title-heading h5,
div.title-heading h6 {
  font-size: 1.72em;
  font-weight: bold;
}

ul.links-heading>li {
  margin: 2em 0 2em 0;
  padding: 0;
}

div.links-heading>a {
  font-size: 1.72em;
  font-weight: bold;
}

ul.links-heading>li>div.desc {
  margin-top: 0.5em;
}

div.links-uix-hover {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

ul.links-uix-hover {
  flex-grow: 1;
}

ul.links-uix-hover li {
  margin: 0;
  padding: 0;
}

ul.links-uix-hover a {
  display: block;
  padding: 8px 1.2em;
  border-bottom: none;
}

ul.links-uix-hover a:hover,
ul.links-uix-hover a:focus {
  background: rgb(241, 246, 253);
}

ul.links-uix-hover img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0.0;
  transition: opacity 0.6s, visibility 0.6s;
}

ul.links-uix-hover a:hover img,
ul.links-uix-hover a:focus img {
  visibility: visible;
  opacity: 1.0;
  transition: opacity 0.2s, visibility 0.2s;
}

@media only screen and (max-width: 480px) {
  div.links-uix-hover-img {
    display: none;
  }

  ul.links-uix-hover img {
    display: none;
  }

  ul.links-uix-hover li {
    margin-left: -10px;
    margin-right: -10px;
  }

  ul.links-uix-hover li a {
    padding: 10px;
  }
}


div.ui-overlay-screen {
  position: fixed;
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(75, 75, 73);
  animation-name: yelp-overlay-screen;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

@keyframes yelp-overlay-screen {
  from {
    opacity: 0.0;
  }

  to {
    opacity: 0.6;
  }
}

div.ui-overlay {
  display: none;
  position: fixed;
  text-align: center;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

div.ui-overlay-show {
  animation-name: yelp-overlay-slide;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

@keyframes yelp-overlay-slide {
  from {
    transform: translateY(-400px) translateX(-50%);
  }

  to {
    transform: translateY(0) translateX(-50%);
  }
}

div.ui-overlay>div.inner {
  display: inline-block;
  padding: 8px;
  background-color: rgb(244, 244, 244);
  border-radius: 4px;
  text-align: left;
}

div.ui-overlay img,
div.ui-overlay video {
  max-height: 80vh;
  max-width: 90vw;
}

div.ui-overlay>div.inner>div.title {
  margin-top: -4px;
}

a.ui-overlay-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  font-size: 22px;
  line-height: 30px;
  font-weight: bold;
  margin-top: -28px;
  margin-right: -26px;
  padding: 1px 2px 3px 2px;
  text-align: center;
  border: none;
  border-radius: 50%;
  background-color: #3584e4;
  color: #ffffff;
}

div.links-tiles {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: stretch;
  vertical-align: top;
  clear: both;
  margin: 0 -10px;
}

div.links-tile {
  flex: 1 0 340px;
  vertical-align: top;
  margin: 0;
  padding: 10px;
}

div.links-tiles>div.links-tile {
  max-width: none;
}

div.links-tile:empty {
  padding: 0 10px;
  height: 0;
}

div.links-tile>a {
  display: block;
  vertical-align: top;
  padding: 10px;
  border-radius: 4px;
  border: none;
}

div.links-tile>a:hover {
  background-color: rgb(241, 246, 253);
}

div.links-tile>a>span.links-tile-img {
  display: block;
  text-align: center;
}

div.links-tile>a>span.links-tile-img>img {
  width: 100%;
  border-radius: 3px;
}

div.links-tile>a>span.links-tile-text>span.title {
  display: block;
  font-weight: bold;
}

div.links-tile>a>span.links-tile-text>*+span.title {
  margin-top: 0.5em;
}

div.links-tile>a>span.links-tile-text>span.desc {
  display: block;
  margin: 0.2em 0 0 0;
  color: rgb(75, 75, 73);
}


a.ex-gnome-top {
  display: block;
  border: solid 1px #c0bfbc;
  border-radius: 4px;
  transition: box-shadow 0.5s linear;
}

a.ex-gnome-top:hover {
  box-shadow: 0px 2px 4px #c0bfbc;
}

span.ex-gnome-top-banner {
  display: block;
  height: 10px;
  background: #57e389;
  overflow: hidden;
}

span.ex-gnome-top-title {
  color: #000000;
  display: block;
  margin: 10px 20px;
  font-size: 1.2em;
}

span.ex-gnome-top-desc {
  color: rgb(102, 102, 100);
  display: block;
  margin: 10px 20px;
}


a.ex-gnome-tile {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  border: solid 1px #c0bfbc;
  border-radius: 4px;
  transition: box-shadow 0.5s linear;
}

a.ex-gnome-tile:hover {
  box-shadow: 0px 2px 4px #c0bfbc;
}

span.ex-gnome-tiles-banner {
  display: block;
  flex: 0 0 64px;
  background: rgb(43, 107, 185);
  overflow: hidden;
}

span.ex-gnome-tiles-banner img {
  width: 64px;
  height: 64px;
  margin: 10px 0;
  transform: rotate(-10deg);
}

span.ex-gnome-tiles-text {
  display: block;
  margin: 10px;
}

span.ex-gnome-tiles-title {
  color: #000000;
  display: block;
  margin: 0;
  font-size: 1.2em;
}

span.ex-gnome-tiles-desc {
  color: rgb(102, 102, 100);
  display: block;
  margin-top: 10px;
}


div.links-grid-container {
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
  vertical-align: top;
  clear: both;
}

div.links-grid {
  flex: 1 0 340px;
  padding: 10px;
}

div.links-grid:empty {
  padding: 0 10px;
  height: 0;
}

div.links-grid-link {
  font-weight: bold;
}

div.links-grid>div.desc {
  margin: 0.2em 0 0 0;
  color: rgb(75, 75, 73);
}



div.links-norwich {
  width: 900px;
}

div.links-norwich-primary {
  float: left;
  vertical-align: top;
  margin: 0;
  padding: 0;
}

div.links-norwich-big {
  vertical-align: top;
  display: inline-block;
  background: rgb(241, 246, 253);
  background: radial-gradient(ellipse 800px 1200px at 100% 20px, rgb(241, 246, 253), #3584e4);
  margin: 0 20px 20px 0;
}

div.links-norwich-big+div.links-norwich-big {
  background: rgb(253, 251, 233);
  background: radial-gradient(ellipse 800px 1200px at 100% 20px, rgb(253, 251, 233), #f8e45c);
}

div.links-norwich-big a {
  display: block;
  width: 230px;
  height: 500px;
  height: 320px;
  padding: 9px;
  font-size: 1.2em;
  color: #000000;
  border: solid 1px #3584e4;
  background-repeat: no-repeat;
  background-position: right -80px bottom -80px;
}

div.links-norwich-big a:hover {
  border: solid 1px #3584e4;
  box-shadow: 2px 2px 2px #3584e4;
}

div.links-norwich-big a span.title {
  font-size: 1.2em;
  font-weight: bold;
}

div.links-norwich-big a .desc {
  color: #000000;
  font-weight: normal;
}

div.links-norwich-secondary {
  vertical-align: top;
  margin: 0;
  padding: 0;
}

div.links-norwich-small {
  display: inline-block;
  vertical-align: top;
  background: rgb(244, 244, 244);
  margin: 0 20px 20px 0;
}

div.links-norwich-small a {
  display: block;
  width: 140px;
  height: 140px;
  padding: 9px;
  font-weight: bold;
  color: #000000;
  border: solid 1px #c0bfbc;
  background-repeat: no-repeat;
  background-position: right 4px bottom 4px;
}

div.links-norwich-small a:hover {
  border: solid 1px #c0bfbc;
  box-shadow: 2px 2px 2px #3584e4;
}

@media only screen and (max-width: 900px) {
  div.links-norwich {
    width: 720px;
  }
}

@media only screen and (max-width: 720px) {
  div.links-norwich {
    width: 540px;
  }
}

@media only screen and (max-width: 540px) {
  div.links-norwich {
    width: 100%;
  }

  div.links-norwich-big {
    width: 100%;
    margin-right: 0;
  }

  div.links-norwich-big a {
    width: auto;
  }
}


div.links-divs {
  margin-left: -10px;
  margin-right: -10px;
}

a.linkdiv {
  display: block;
  margin: 0;
  padding: 10px;
  border-bottom: none;
}

a.linkdiv:hover {
  text-decoration: none;
  background-color: rgb(241, 246, 253);
}

a.linkdiv span.title {
  display: block;
  margin: 0;
  font-size: 1em;
  font-weight: bold;
  color: inherit;
}

a.linkdiv span.desc {
  display: block;
  margin: 0.2em 0 0 0;
  color: rgb(75, 75, 73);
}

span.linkdiv-dash {
  display: none;
}

div.links-twocolumn {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
  vertical-align: top;
  margin-left: -10px;
  margin-right: -10px;
}

div.links-twocolumn>div.links-divs {
  flex: 1 0 360px;
  vertical-align: top;
  margin: 0;
}


div.comment {
  padding: 0.5em;
  border: solid 2px #c01c28;
  background-color: rgb(251, 243, 244);
}

div.comment div.comment {
  margin: 1em 1em 0 1em;
}

div.comment div.cite {
  margin: 0 0 0.5em 0;
  font-style: italic;
}


div.tree>div.inner>div.title {
  margin-bottom: 0.5em;
}

ul.tree {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li.tree {
  margin: -2px 0 0 0;
  padding: 0;
}

li.tree div {
  margin: 0;
  padding: 0;
}

ul.tree ul.tree {
  margin-left: 1.44em;
}

div.tree-lines ul.tree {
  margin-left: 0;
}


span.hi {
  background-color: rgb(253, 251, 233);
}

span.hi.hi-ins {
  background-color: rgb(227, 250, 236);
}

span.hi.hi-del {
  background-color: rgb(251, 243, 244);
  text-decoration: line-through;
}

span.hi.hi-ins ins {
  text-decoration: none;
}

span.hi.hi-del del {
  text-decoration: none;
}

span.hi.hi-red {
  background-color: rgb(251, 243, 244);
}

span.hi.hi-orange {
  background-color: rgb(255, 243, 231);
}

span.hi.hi-yellow {
  background-color: rgb(253, 251, 233);
}

span.hi.hi-green {
  background-color: rgb(227, 250, 236);
}

span.hi.hi-blue {
  background-color: rgb(241, 246, 253);
}

span.hi.hi-purple {
  background-color: rgb(249, 243, 250);
}

span.hi.hi-gray {
  background-color: rgb(244, 244, 244);
}


dt.gloss-term {
  margin-top: 1.2em;
  font-weight: bold;
  color: rgb(75, 75, 73);
}

dt.gloss-term:first-child,
dt.gloss-term+dt.gloss-term {
  margin-top: 0;
}

dt.gloss-term+dd {
  margin-top: 0.2em;
}

dd.gloss-link {
  margin: 0 0.2em 0 0.2em;
  border-left: solid 4px #3584e4;
  padding-left: 1em;
}

dd.gloss-def {
  margin: 0 0.2em 1em 0.2em;
  border-left: solid 4px #c0bfbc;
  padding-left: 1em;
}

a.gloss-term {
  position: relative;
  border-bottom: dashed 1px #3584e4;
}

a.gloss-term:hover {
  text-decoration: none;
  border-bottom-style: solid;
}

span.gloss-desc {
  display: none;
  position: absolute;
  z-index: 100;
  margin: 0;
  left: 0;
  top: 1.2em;
  padding: 0.2em 0.5em 0.2em 0.5em;
  min-width: 12em;
  max-width: 24em;
  overflow: hidden;
  color: rgb(75, 75, 73);
  background-color: rgb(253, 251, 233);
  border: solid 1px #f8e45c;
  box-shadow: 2px 2px 4px #c0bfbc;
}

a.gloss-term:hover span.gloss-desc,
a.gloss-term:focus span.gloss-desc {
  display: inline-block;
  animation-name: yelp-gloss-fade;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes yelp-gloss-fade {
  from {
    opacity: 0.0;
  }

  to {
    opacity: 1.0;
  }
}


.if-if {
  display: none;
}

.if-choose,
.if-when,
.if-else {
  margin: 0;
  padding: 0;
}

.if-choose>.if-when {
  display: none;
}

.if-choose>.if-else {
  display: block;
}

.if-if.if__not-target-mobile {
  display: block;
}

.if-choose.if__not-target-mobile>.if-when {
  display: block;
}

.if-choose.if__not-target-mobile>.if-else {
  display: none;
}

@media only screen and (max-width: 480px) {
  .if-if.if__target-mobile {
    display: block;
  }

  .if-if.if__not-target-mobile {
    display: none;
  }

  .if-choose.if__target-mobile>.if-when {
    display: block;
  }

  .if-choose.if__target-mobile>.if-else {
    display: none;
  }

  .if-choose.if__not-target-mobile>.if-when {
    display: none;
  }

  .if-choose.if__not-target-mobile>.if-else {
    display: block;
  }
}