Source: pulseeffects
Section: Audio
Priority: optional
Maintainer: Mikhail Novosyolov <mikhailnov@dumalogiya.ru>
Build-Depends: debhelper (>=10), python3-cairo-dev, python-gi-dev, libgstreamer1.0-dev (>= 1.12), libgstreamer-plugins-bad1.0-dev (>=1.12), libpulse-dev, libpango1.0-dev, libgtk-3-dev (>= 3.18), meson (>=0.40), ninja-build, pkg-config
Standards-Version: 3.9.6
Homepage: https://github.com/wwmm/pulseeffects

Package: pulseeffects
Architecture: any
Depends: ${misc:Depends}, pulseaudio, python3, libgtk-3-0 (>= 3.18), python3-gi, python3-gi-cairo, gstreamer1.0-plugins-bad (>= 1.12), gstreamer1.0-plugins-good (>= 1.12), swh-plugins, python3-scipy (>= 0.18), python3-gst-1.0, gir1.2-gst-plugins-bad-1.0
Description: Sound input and outout effects for PulseAudio
 Limiter, compressor, reverberation, stereo equalizer and auto volume effects for Pulseaudio applications
