Source: pulseeffects
Section: sound
Priority: optional
Maintainer: Mikhail Novosyolov <mikhailnov@dumalogiya.ru>
Standards-Version: 4.1.4
Homepage: https://github.com/wwmm/pulseeffects
Build-Depends: debhelper (>=11),
               scour,
               meson (>=0.40),
               pkg-config,
               libgstreamer1.0-dev (>= 1.12.5),
               libgstreamer-plugins-bad1.0-dev,
               libpulse-dev,
               libpango1.0-dev,
               libgtk-3-dev,
               libglibmm-2.4-dev,
               libgtkmm-3.0-dev,
               libboost-filesystem-dev (>= 1.65) | libboost-filesystem1.70-dev (>= 1.65) | libboost-filesystem1.69-dev (>= 1.65) | libboost-filesystem1.68-dev (>= 1.65) | libboost-filesystem1.67-dev (>= 1.65) | libboost-filesystem1.66-dev (>= 1.65) | libboost-filesystem1.65-dev (>= 1.65),
               libboost-system-dev (>= 1.65) | libboost-system1.70-dev (>= 1.65) | libboost-system1.69-dev (>= 1.65) | libboost-system1.68-dev (>= 1.65) | libboost-system1.67-dev (>= 1.65) | libboost-system1.66-dev (>= 1.65) | libboost-system1.65-dev (>= 1.65),
               libbs2b-dev,
               liblilv-dev,
               librubberband-dev,
               libzita-convolver-dev,
               libsndfile1-dev,
               libsamplerate0-dev,
               itstool,
               libebur128-dev,
               appstream-util,
               desktop-file-utils

Package: pulseeffects
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         pulseaudio,
         gstreamer1.0-plugins-bad,
         gstreamer1.0-plugins-good,
         gir1.2-gst-plugins-bad-1.0,
         gstreamer1.0-pulseaudio,
         gstreamer1.0-adapter-pulseeffects
# gstreamer1.0-adapter-pulseeffects is a strict dependency, not recommended
# see https://github.com/wwmm/pulseeffects/issues/307#issuecomment-415078508
Recommends: calf-plugins (>= 0.90.0),
            zam-plugins,
            rubberband-ladspa,
            liblilv-0-0,
            mda-lv2,
            lsp-plugins-lv2 | lsp-plugins,
            gstreamer1.0-convolver-pulseeffects,
            gstreamer1.0-crystalizer-pulseeffects,
            gstreamer1.0-autogain-pulseeffects
Description: Sound input and output effects for PulseAudio
 Many sound effects for PulseAudio input and output.

Package: gstreamer1.0-convolver-pulseeffects
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Provides: peconvolver, gstreamer1.0-convolver
Replaces: pulseeffects (<< 4.1.7-3)
Description: Gstreamer convolver
 Simple Gstreamer crystalizer plugin based on
 the library Zita-convolver.

Package: gstreamer1.0-crystalizer-pulseeffects
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Provides: pecrystalizer, gstreamer1.0-crystalizer
Description: Gstreamer crystalizer
 Simple Gstreamer plugin useful to add more dynamic range
 to songs that were overly compressed.

Package: gstreamer1.0-autogain-pulseeffects
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Provides: peautogain, gstreamer1.0-autogain
Description: Gstreamer crystalizer
 Simple Gstreamer plugin that changes audio gain
 to match the levels recommended by the ebur128 standard.

Package: gstreamer1.0-adapter-pulseeffects
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Provides: peadapter, gstreamer1.0-adapter
Description: Gstreamer adapter
 Simple plugin that gives output buffers
 with the desired number of samples.
 .
 It is used in PulseEffects to ensure that
 the number of audio samples in the buffer
 is a power of 2. The convolver needs this.
