#!/usr/bin/make -f
export DH_VERBOSE=255

# Fail the build if some produced files
# are not included in neither of multiple packages
override_dh_missing:
	dh_missing --fail-missing

override_dh_auto_test:
	echo "Auto-tests are disabled due to a very strange issue https://github.com/wwmm/pulseeffects/issues/304"

%:
	dh $@ --with scour
