.drag-listboxrow-icon {
  background: white;
  border: 1px solid black;
}

/* .rounded_corners {
  border-radius: 12px;
} */

.headerbar_title_button_font {
  font-weight: normal;
}

.headerbar_title_button_font:checked {
  font-weight: bold;
}
