list#listbox_plugins {
    background-color: transparent;
}

list#listbox_presets {
    background-color: transparent;
}

list#listbox_irs {
    background-color: transparent;
}

list#listbox_blacklist {
    background-color: transparent;
}